@font-face {
   font-family: 'Byekan' ;
   src: url('../fonts/Byekan.ttf') format('truetype'),
   url('../fonts/Byekan.eot?#iefix') format('embedded-opentype');
}

div, a, p, span, li, ul {
   text-align: right;
   direction: rtl;
}

a {
   text-decoration: none;
}

.yekan {
   font-family: Byekan;
}

.fontsm {
   font-size: 10.3pt;
}

.fontmd {
   font-size: 11.3pt;
}

.fontlg {
   font-size: 17.8pt;
}
/***************pageAd***************/
.body{
   margin: 0;
   background: #e4e1e1;
}
.header{
   background: #fff;
}
#myheader{
   width: 1200px;
   height: 100px;
   margin: 0 auto; 
   padding-top:15px;   
}
#header_right{
   width: 720px; 
   float: right;
   height: 100px;
}
#header_right_top{
   height: 40px;
}
#lock{
  width: 20px; 
  height: 20px; 
  background: url(../img/lock.png);
  display: block; 
  float: right;
}
.login{
    float: right;
    margin-right: 10px;
}
#register{
  width: 20px; 
  height: 20px; 
  background: url(../img/login.png);
  display: block; 
  float: right;
  margin-right: 25px;
}
.reg{
    float: right;
    margin-right: 10px;
}
#header_right_bottom{
   height: 50px;
}
#search_top{
  width: 480px;
  height: 40px;
  float: right;
  margin-right: 20px;
  position: relative ;
}
.input{
   width: 480px ;
   height: 32px; 
   margin-top: 2px; 
   border:1px solid rgba(219, 219, 219, 0.932);
   padding-right: 10px;
   color:#8C9C98 ;   
}
#search_pic{
   width: 41px;
   height: 32px;
   background:url(../img/search.png) no-repeat center #f1e8e8; 
   display: block;
   position: absolute;
   left: 0; 
   top: 2px; 
}
#nav{
  width: 100%;
  height: 40px;
  background: #f7f8fa; 
  border-top: 1px solid  #cccccc;
  box-shadow: 0 2px 13px #aaa;
}

.main{   
   width: 100%;
   height: auto;
   margin: 17px auto;    
   background-color:#e4dcdc;
   font-family: Byekan;
   font-size: 16px;
}
.sidebar{
   width: 20%;
   height: 512px;
   float: right;
   margin-top:5px;
   border: 1px solid black;
   margin-right: 60px;
   background-color:#fff;
}
.create{
   width:70%;
   height:512px;
   border: 1px solid black;
   margin-top:5px; 
   background-color:#fff;
   font-family: Byekan;
   float: left;
   margin-left: 60px;    
}
.advert{
   width: 100%; 
   height:29px; 
   border-bottom:1px solid black;
}
.nameAdvert{
   margin-top: 11px;
   margin-right:10px; 
   display:block;
}
.img{
   width: 659px;
   height:277px;
   float:left;
}
.showImg{
   width:100% ;
   height:100%;
   padding-right: 141px;
   padding-bottom: 3px;
}
.title{
   width: 45%; 
   height:42px; 
   border-left: 1px solid black;
   border-bottom:1px solid black;
}
.title span{
   padding-top: 11px;
   margin-right:10px; 
   display:block;
}
.description{
   width: 45%; 
   height:115px; 
   border-left: 1px solid black;
   border-bottom:1px solid black;
}
.description span{
   padding-top: 11px;
   margin-right:10px; 
   display:block;
}
#PriceTell{
   width:45%;
   height:35px;
   border-left:1px solid black;
   border-bottom:1px solid black;   
}
.price{
  width: 50%; 
  height:35px; 
  border-left: 1px solid black;  
  float: right;
}
.showPrice{
   padding-top: 5px;
   margin-right:10px; 
   display:block;
} 

.showTell{
   width: 100%; 
   height:35px;  
   float: right;
   margin-top: -26px;
   margin-right: 221px;
   
}
.Address{
   width: 45%; 
   height:82px; 
   border-left: 1px solid black;
}
.Address span{
  padding-top: 10px;
  margin-right:10px; 
  display:block;
}
.comment{
   width: 100%; 
   height:196px; 
   border-top: 1px solid black; 
}
.comm_span{
  display:block;
  width:10px;
  height:10px;
  margin-top:14px;
  margin-right:36px;
}
.comm_space{
   width:675px;
   height:150px;
   float:right;
   border:solid 1px black;
   margin-top:0px;
   margin-right:82px; 
   background-color: #edf1f1;
   overflow-y:scroll;
   padding-right:10px;
   padding-top:3px;
}
.comm_user{
   display:block;
   float:right;   
}
.comm_button{
   margin-top:108px;
   margin-right:46px;
   text-align:center;
   
   background-color:#f4511e;
   border-radius:15px; 
   width: 84px;
   height: 40px;   
}
.comm_button_a{
   text-decoration:none;
   font-size: 14px !important;
}
.number{
   width: auto;
   height:auto;  
   text-align:center;
   background-color:#e4e1e1;   
}
.footer{
   width: 100%;
   height: 265px;
   float: right;
   margin-top: 5px;
}
.nav_footer{
   width: 100%;
   height: 40px;   
   background: #f7f8fa;    
   background-color:#afacac;
}
.footer_down{
   width: 100%;
   height:220px;
   background-color:hsla(239, 93%, 48%, 0.871);
}
#favorite{
   margin-top: -127px;
   padding-right: 810px;
   
   

}
/* ********************end PageAd**************************** */
/* *************************createAd***************************** */
#create_main{
   width: 711px;
   height:710px;
   border:solid 1px black;
   margin-right:340px;
   cursor:pointer;
   background-color:seashell;
}
#create_form{
   width: 515px;
   height:550px;
   margin-right:85px;
   margin-top: 25px;
}
.label_ad{
   margin-right:52px;
   font-family: Byekan;
   font-size: 18px;
   margin-top: 17px;
   display: inline-block;
}
.input_Ad{
   width: 430px;
   margin-right:52px;
   font-size: 16px;
}
#label_description{
   margin-right:52px;
   font-family: Byekan;
   font-size: 18px;
   margin-top: 17px;
   display: inline-block;
}
#textarea_description{
   width: 430px;
   height:160px;
   margin-right:52px;
   resize: none;
   font-size: 17px;
   font-family: Byekan;
}
#label_img{
   margin-right:52px;
   font-family: Byekan;
   font-size: 18px;
   margin-top: 18px;
   display: inline-block
}
#input_img{
   margin-right:52px;
   font-family: Byekan;
   margin-top: 18px;
   display: inline-block;
   font-size: 18px;
}
#input_submit{
   margin-top: 48px;
   background-color:rgba(11,194,240,0.932);
   border-radius:20%;
   width:100px;
   height: 40px;
   margin-right:223px;
   font-family: Byekan;
   font-size: 18px;
}
/* ************************showAd**************************** */
.showAd{
   width: 100%;
   height: 318px;
   border: 1px solid black;
   margin-top: 40px;
   background-color: #fff;
   font-family: Byekan;
}
.showAdImg {
   width: 100%;
   height: 100%; 
   padding-bottom: 1px;
   border-left: 1px solid black;
}
/* ***********************end showAd************************* */
