.categories_list {
    width: 20%;
    background-color:#dbdbdb;

}
/*.categories_list a {*/
/*color: #565e64;*/
/*}*/
div .category{
    margin-right: 30px;
    font-size: 12px;
    padding-top: 15px;
}
div .child{
    margin-right: 50px;
    font-size: 10px;
}
div .subchild{
    margin-right: 100px;
    font-size: 10px;
}
div .sub1child{
     margin-right: 150px;
    font-size: 10px;
}
div .sub2child{
    margin-right: 200px;
    font-size: 10px;
}
/*.category{*/
/*    font-size: 12px;*/
/*    padding-top: 15px;*/
/*}*/
.category div{
    display: inline;
}
.child div{
    display: inline;
}
.subchild div{
    display: inline;
}
.sub1child div{
    display: inline;
}
.sub2child div{
    display: inline;
}
.name a{
    color: #565e64;
}
.create a{
    color: dodgerblue;
    font-size: 6px;
    /*margin-right: 30px;*/
}
.edit a{
    color: green;
    font-size: 6px;
    /*margin-right: 20px;*/
}
.delete a{
    color: darkred;
    font-size: 6px;
    /*margin-right: 20px;*/
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

